//VAR-----------------------------------------------------------------

$scinMainColor: #3c3c3c!default;
$scinMainColorbutton: #3387c6 !default;
$scinColorBackground: #ffffff!default;
$scinMainMenuText:#ffffff!default;
$scinBorderRadius: 4px!default;

$scinSecondLinePaddingTopBottom: 5px!default;
$scinPaddinButton: 10px!default;
$scinContentPadding: 30px!default;

$scinTablePaddingBottom: 8px!default;
$scinTablePaddingTop: 8px!default;

//MIXIN---------------------------------------------------------------

@mixin reset_item {
  text-shadow: none!important;
  border: none!important;
  box-shadow: none!important;
  background-image: none!important;
  outline:none!important;
}
@mixin border-radius-left($radius-left) {
  -webkit-border-top-left-radius: $radius-left!important;
  -webkit-border-bottom-left-radius: $radius-left!important;
  -moz-border-radius-topleft: $radius-left!important;
  -moz-border-radius-bottomleft: $radius-left!important;
  border-top-left-radius: $radius-left!important;
  border-bottom-left-radius: $radius-left!important;
}
@mixin border-radius-right($radius-right) {
  -webkit-border-top-right-radius: $radius-right!important;
  -webkit-border-bottom-right-radius: $radius-right!important;
  -moz-border-radius-topright: $radius-right!important;
  -moz-border-radius-bottomright: $radius-right!important;
  border-top-right-radius: $radius-right!important;
  border-bottom-right-radius: $radius-right!important;
}

//STYLES--------------------------------------------------------------

button, input:not(.datepicker), div, tr, th, h3, td {
  @include reset_item;
}
html {
  font-family: 'Open Sans', sans-serif;
  background: $scinColorBackground;
  font-weight: 300;
}
#header {
  background-color: $scinMainColor;
  padding-bottom: 7px;
  border: none;
  text-shadow: none;
  border-bottom: 1px solid lighten( $scinMainColor, 15% );
  h1.site_title {
    color: $scinMainColorbutton;
    font-size: 16px;
    font-weight: 600;
    img {
      top: auto;
    }
  }
  a, a:link {
    color: #ffffff;
  }
  ul.tabs {
   > li {
      &:hover > a {
        background-color: $scinMainColorbutton;
      }
      &.current > a {
        background-color: $scinMainColorbutton;
      }
      &.current.has_nested > a {
        background-color: $scinMainColorbutton;
      }
      &.has_nested:hover > a {
        background-color: $scinMainColorbutton;
        border-bottom: 10px solid $scinMainColorbutton;
        @include rounded($scinBorderRadius);
      }
      ul {
        @include rounded($scinBorderRadius);
        background-color: $scinMainColorbutton;
      }
      a {
        padding: 6px 10px 4px 10px;
        color: $scinMainMenuText;
        @include rounded($scinBorderRadius);
      }
    }
  }
}
#title_bar {
  background-color: lighten( $scinMainColor, 10% );
  padding: $scinSecondLinePaddingTopBottom 30px;
  border-bottom: 5px solid lighten( $scinMainColorbutton, 10% )!important;
  #titlebar_left {
    h2 {
      color: $scinMainMenuText;
      font-size: 22px;
    }
    .breadcrumb {
      a {
        color: lighten( $scinMainColor, 30% );
        text-transform: none;
      }
    }
  }
  #titlebar_right {
    div.action_items {
      span.action_item {
        a {
          @include rounded($scinBorderRadius);
          background-color:$scinMainColorbutton;
          padding: $scinPaddinButton;
          font-size: 14px;
          font-weight: 400;
          color:$scinMainMenuText;
          @include reset_item;
          &:hover {
            background-color:lighten( $scinMainColorbutton, 5% );
          }
          &:active {
            background-color:lighten( $scinMainColorbutton, 10% );
          }
        }
      }
      div.dropdown_menu {
        div.dropdown_menu_list_wrapper {
          ul {
            box-shadow: 0 1px 3px #444444;
            -moz-box-shadow: 0 1px 3px #444444;
            -webkit-box-shadow: 0 1px 3px #444444;
            li {
              a {
                background-color: #ffffff;
                color: #6f6f6f;
                font-size: 0.95em;
                font-weight: bold;
                padding: 7px 16px 5px;
                &:hover {
                  background-color:$scinMainColorbutton;
                  color:#ffffff;
                  border-radius: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
#wrapper {
  .flashes {
    .flash {
      color: #ffffff;
    }
    .flash_notice {
      background-color: #81AE62;
    }
    .flash_warning {
      background-color: #D2D03D;
    }
    .flash_error {
      background-color: #BA5C5C;
    }
  }
}
.dropdown_menu .dropdown_menu_button {
  &:before {
    content: none;
  }
  &:after {
    border-color: #FFF transparent;
    right: 10px;
  }
}
#main_content_wrapper {
  div.table_tools {
    div.dropdown_menu {
      a {
        @include reset_item;
        background-color:$scinMainColorbutton;
        padding: $scinPaddinButton;
        @include rounded($scinBorderRadius);
        color:#ffffff;
      }
      div.dropdown_menu_list_wrapper {
        ul {
          box-shadow: 0 1px 3px #444444;
          -moz-box-shadow: 0 1px 3px #444444;
          -webkit-box-shadow: 0 1px 3px #444444;
          li {
            a {
              background-color: #ffffff;
              color: #6f6f6f;
              font-size: 0.95em;
              font-weight: bold;
              padding: 7px 16px 5px;
              &:hover {
                background-color:$scinMainColorbutton;
                color:#ffffff;
                border-radius: 0px!important;
              }
            }
          }
        }
      }
    }
    ul {
      li {
        &:first-child a {
          @include border-radius-left($scinBorderRadius);
        }
        &:last-child a {
          @include border-radius-right($scinBorderRadius);
        }
        &.selected a {
          background-color: lighten( $scinMainColor, 10% );
        }
        a {
          @include reset_item;
          background-color:$scinMainColorbutton;
          padding: $scinPaddinButton;
          color: #ffffff;
          border-radius: 0px;
          span {
            font-size: 12px;
            color: #ffffff;
          }
        }
      }
    }
  }
  table.index_table {
    th {
      background-color: lighten( $scinMainColor, 15% );
      padding: $scinTablePaddingTop 12px $scinTablePaddingBottom 12px;
      a {
        color: #ffffff;
      }
      &.sorted-asc, &.sorted-desc {
        background-color: $scinMainColorbutton;
      }
    }
  }
  fieldset.inputs {
    background-color: lighten( $scinMainColor, 60% );
    @include rounded($scinBorderRadius);
    legend {
      span {
        @include reset_item;
        background-color: lighten( $scinMainColor, 15% );
        color: #ffffff;
        font-weight: 400;
        font-size: 12px;
        padding: 5px 10px;
      }
    }
  }
  .panel {
    background-color: lighten( $scinMainColor, 60% );
    @include rounded($scinBorderRadius);
    h3 {
      @include reset_item;
      background-color: lighten( $scinMainColor, 15% );
      color: #ffffff;
      font-weight: 400;
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  #main_content {
    div.tabs {
     > ul {
        background-color:lighten( $scinMainColor, 15% );
        padding: 15px 15px 0px 15px;

        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        li.ui-state-default {
          a {
            @include reset_item;
            background-color:$scinMainColorbutton;
            color: #ffffff;
            padding: $scinPaddinButton;

          }
        }
        li.ui-state-active {
          a {
            background-color: #ffffff;
            color:lighten( $scinMainColor, 15% );
            border: 1px solid #ffffff;
          }
        }
        li:first-child a {
          -webkit-border-top-left-radius: 4px;
          -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;

          -webkit-border-bottom-left-radius: 0px;
          -moz-border-radius-bottomleft: 0px;
          border-bottom-left-radius: 0px;
        }
        li:last-child a {
          -webkit-border-top-right-radius: 4px;
          -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;

          -webkit-border-bottom-right-radius: 0px;
          -moz-border-radius-bottomright: 0px;
          border-bottom-right-radius: 0px;
        }
      }
    }
  }
}
.sidebar_section.panel {
  background-color: lighten( $scinMainColor, 60% );
  @include rounded($scinBorderRadius);
  h3 {
    background-color:lighten( $scinMainColor, 15% );
    padding: 5px 10px;
    color: $scinMainMenuText;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid lighten( $scinMainColor, 15% );
  }
}
form fieldset.buttons li.cancel a,
form fieldset.actions li.cancel a,
form.filter_form a.clear_filters_btn,
form input[type=submit],
form input[type=button],
form button {
  @include reset_item;
  background-color:$scinMainColorbutton;
  @include rounded($scinBorderRadius);
  padding: $scinPaddinButton;
  color: $scinMainMenuText;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    background-color:lighten( $scinMainColorbutton, 5% )!important;
  }
}
.pagination {
  span.page.current {
    @include reset_item;
    color: #ffffff;
    padding: 5px 9px;
    @include rounded($scinBorderRadius);
    background-color: lighten( $scinMainColor,25% );
    &:hover {
      background-color: lighten( $scinMainColor,25% )!important;
    }
  }
  a {
    @include reset_item;
    color: #ffffff;
    padding: 5px 9px;
    @include rounded($scinBorderRadius);
    background-color: lighten( $scinMainColor,45% );
    &:not(.disabled):hover {
      background-color: lighten( $scinMainColor,15% );
    }
  }
}
#ui-datepicker-div {
  background: none;
  .ui-datepicker-header {
    background-color: lighten( $scinMainColor, 10% );
    &:before {
      border-bottom: 10px solid lighten( $scinMainColor, 10% );
    }
  }
  .ui-datepicker-calendar {
    border: solid 1px lighten( $scinMainColor, 10% );
  }
}
#wrapper {
  background-color: $scinColorBackground;
  #content_wrapper {
    #active_admin_content {
      background-color: lighten( $scinMainColor,55% );
      @include rounded($scinBorderRadius);
      #login {
        h2 {
          @include reset_item;
          background-color:lighten( $scinMainColor, 15% );
          padding: 5px 10px;
          color: $scinMainMenuText;
          font-weight: 400;
          font-size: 12px;
          border: 1px solid lighten( $scinMainColor, 15% );
        }
      }
    }
  }
  #sidebar {
    div.tabs {
      ul {
        -webkit-padding-start: 0px;
        background-color:lighten( $scinMainColor, 15% );
        padding: 7px 7px 0px 7px;
        margin: 0px;

        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        li.ui-state-default {
          a {
            @include reset_item;
            background-color:$scinMainColorbutton;
            color: #ffffff;
            padding: $scinPaddinButton;

          }
        }
        li.ui-state-active {
          a {
            background-color: lighten( $scinMainColor, 60% );
            color:$scinMainColor;
            border: 1px solid #ffffff;
          }
        }
        li:first-child a {
          -webkit-border-top-left-radius: 4px;
          -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;

          -webkit-border-bottom-left-radius: 0px;
          -moz-border-radius-bottomleft: 0px;
          border-bottom-left-radius: 0px;
        }
        li:last-child a {
          -webkit-border-top-right-radius: 4px;
          -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;

          -webkit-border-bottom-right-radius: 0px;
          -moz-border-radius-bottomright: 0px;
          border-bottom-right-radius: 0px;
        }
      }
    }
  }
}

//STYLES--------------------------------------------------------------
